<div class="profile-card">
 <div class="card-header">
 <div class="pic">
 <img src="/public/static/logo.jpeg" alt="No image">
 </div>

{{!-- If you are admin, you will see this page --}}
 {{#if isAdmin}}
<div class="pl-4"><h1>Manage books</h1></div>
  {{#if books.length}}
    {{#each books}}  
    <h2>{{bookName}}</h2>
    <div class="pl-4">
      <ul>
        <li class="mb-2">
          <a href="/orders/placed/{{_id}}" class="ord_color">Add Books</a>
        </li>
        <li class="mb-2">
          <a href="/orders/completed/{{_id}}" class="ord_color">Delete Books</a>
        </li>
        <li class="mb-2">
          <a href="/books/{{_id}}/reviews" class="ord_color">View Sales</a>
        </li>
      </ul>
    </div>
    {{/each}}
  {{/if}}
  
  {{!-- If you are user, you will see this page --}}
  {{else}}
    <div class="name">{{user.username}}
        <div style="display:inline" class="vip">
            <img src="/public/static/vip.png">
        </div>
    </div>
    <div class="desc">{{user.email}}</div>
    <div class="sm">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-github"></a>
    <a href="#" class="fab fa-youtube"></a>
    </div>
    <a href="#" class="contact-btn">Contact Me</a>
    </div>
    <div class="card-footer">
    <div class="numbers">
    <div class="item">
    <span>120</span>
    Posts
    </div>
    <div class="border"></div>
    <div class="item">
    <span>127</span>
    Following
    </div>
    <div class="border"></div>
    <div class="item">
    <span>120K</span>
    Followers
    </div>
    </div>
    </div>
    </div>
{{/if}}
 <link rel="stylesheet" type="text/css" href="/public/css/profile.css"> 
