
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div id="fullpage">
<nav >
    <div class="left">
        <a href="/"><img id="logo" src="../../public/static/logo.jpeg" alt="Logo" style=""></a>
    </div>

    <div class="right">
        <ul>
            {{#if uName}}
                <div >
                    <a id="list" href="/users/profile" >{{uName}}</a></li>
                </div>
            <li><img id="logo" src="../../public/static/icon.png" alt="Logo" style=""></li>
            {{else}}
                <li><a id="list" href="/users/login">LOG IN</a></li>
            {{/if}}
        </ul>
    </div>

</nav>
    <div class="section" id="section0">
        <p class="title wow fadeIn">Duck Books,</p>
        <p class="title wow fadeIn">Read life anytime.</p>
        <p class="subtitle wow fadeIn" data-wow-delay=".7s">Buy anywhere. Read anywhere.</p>
        <a class="btn_signup wow fadeIn" data-wow-delay=".7s" href="/users/signup">Sign up</a>
    </div>

</div>
<div id="fullpage1" >
    <div class="section" id="section1">
        <section class="flex-center">
            <h1 id="title" style="display:none">{{title}}</h1>
            <p class="subtitle wow fadeIn" data-wow-delay=".7s">{{content}}</p>
            <div class="tabs book clearfix">
            {{#if books }}
                {{#each books}}
                <dl>
                    <dt><a href="book/{{this._id}}"><img src="{{this.bookCovers}}" alt="Image"/></a></dt>
                    <dd >
                        <p><a href="book/{{this._id}}">{{this.bookName}}</a></p>
                        <p>Price : ${{this.price}}</p>
                    </dd>
                </dl>
                {{/each}}
            {{else}}
                <p class="subtitle wow fadeIn" data-wow-delay=".7s">No books are currently updated .</p>
            {{/if}}
            </div>
        </section>
    </div>
</div>



