<div id="form-container">
    <h1>Add A New Book</h1>
    <form id="book-new" method="POST" action="/book/newBook">
        <!-- Title -->
        <div class="form-elem">
            <label for ="title-input">Book Name:</label>
            <input id="title-input" type="text" name="newBookName" placeholder="ex. The Red and The Black" value="{{bookName}}">
        </div>
        <!-- Image -->
        <div class="form-elem">
            <label for ="image-input">Book Cover URL:</label>
            <input id="image-input" type="text" name="newBookCovers" placeholder="must end in jpeg, jpg, png" value="{{bookCovers}}">
        </div>
        <!-- Content -->
        <div class="form-elem">
            <label for ="content-input">Book content URL:</label>
            <input id="content-input" type="text" name="newContent" placeholder="" value="{{content}}">
        </div>
        <!-- Author -->
        <div class="form-elem">
            <label for ="Author-input">Author:</label>
            <input id="Author-input" type="text" name="newAuthor"  value="{{author}}">
        </div>
        <!-- Release Year -->
        <div class="form-elem">
            <label for ="publicationDate-input">publication Date:</label>
            <input id="publicationDate-input" type="text" name="newPublicationDate" placeholder="ex. 2020-01-02" value="{{publicationDate}}">
        </div>
        <!-- Genres -->
        <div class="form-elem" id="genre-div">
            <label for ="genre-input1">Genres:</label>
            <input id="genre-input1" type="text" name="newGenres[]" value="{{bookTag}}">
        </div>
        {{!-- <div class="center">
            <button id="new-genre" class="update-field" type="button"><img class="form-button" src="/public/img/add.png" alt="add genre"/></button>
            <button id="remove-genre" class="update-field" type="button"><img class="form-button" src="/public/img/sub.png" alt="remove genre"/></button>
        </div> --}}
        <!-- Prices -->
        <div class="form-elem" id="price-div">
            <label for ="price-input1">Price:</label>
            <input id="price-input1" type="text" name="newPrice" placeholder="ex. PC: $49.99" value="{{price}}">
        </div>
        <!-- Description -->
        <div class="form-elem">
            <label for ="description-input">Description:</label>
            <textarea name="newDesc" rows="10" cols="72" id="description-input"></textarea>
        </div>
        <div class="center">
            <button id="new-submit" type="submit">Submit</button>
        </div>
    </form>
    <div class="hidden center form-elem" id="bookForm-error-container">
        <ul id="bookFormErrors">
            
        </ul>
    </div>
    {{#if error}}
        <div class="form-elem">
            <ul>
            {{#each error}}
            <li class="error-elem">{{this}}</li>
            {{/each}}
            </ul>
        </div>
    {{/if}}
</div>